* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
display: flex;
gap: 20px;
margin-top: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family:Ubuntu;
  line-height: 1;
    letter-spacing: 0.03em;
    background-color: darkgrey;
    border-radius: 4px;
    padding: 5px;
}
.value {
  font-size: 24px;
  font-weight: 600;
}
.label{
  font-size: 18px;
}
#datetime-picker {
  width: 310px;
  height: 30px;
}
button {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  border-radius: 50%;
  padding: 15px;
}